
@font-face {
  font-family: 'jpkom';
  src: url('../../libraries/fontello/font/jpkom.eot?99067142');
  src: url('../../libraries/fontello/font/jpkom.eot?99067142#iefix') format('embedded-opentype'),
       url('../../libraries/fontello/font/jpkom.woff?99067142') format('woff'),
       url('../../libraries/fontello/font/jpkom.ttf?99067142') format('truetype'),
       url('../../libraries/fontello/font/jpkom.svg?99067142#jpkom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'jpkom';
    src: url('../../libraries/fontello/font/jpkom.svg?99067142#jpkom') format('svg');
  }
}
*/
.icon,
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "jpkom";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.size-normal {
	font-size: 2.7em;
}


.icon-at:before { content: '\e800'; } /* '' */
.icon-circle-down-open:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-left-light-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */
.icon-person:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-photo:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-printer:before { content: '\e80c'; } /* '' */
.icon-right-down:before { content: '\e80d'; } /* '' */
.icon-right-light-open:before { content: '\e80e'; } /* '' */
.icon-right-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-slideshare:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-xing:before { content: '\e813'; } /* '' */
.icon-youtube:before { content: '\e814'; } /* '' */
.icon-external-link:before { content: '\e815'; } /* '' */
.icon-spin:before { content: '\e81b'; } /* '' */
.icon-play:before { content: '\e816'; } /* '' */
